<div class="nested-fields">  
  <%= f.label :answer_content, "Answer" %>
  <%= f.text_area :answer_content %>
  <%= f.label "Correct Answer?" %>
  <%= f.check_box :correct %>
  <%= link_to_remove_association "remove", f %>
</div>